In [3]:
 import pandas as pd
 import numpy as np

In [27]:
np.arange(0,20).reshape(5,4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [12]:
df=pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","Row5"],columns=["Col1","Col2","Col3","Col4"])

In [28]:
df.head()

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [29]:
type(df)

pandas.core.frame.DataFrame

In [30]:
df.shape

(5, 4)

In [31]:
df.describe()

            Col1       Col2       Col3       Col4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Col1    5 non-null      int64
 1   Col2    5 non-null      int64
 2   Col3    5 non-null      int64
 3   Col4    5 non-null      int64
dtypes: int64(4)
memory usage: 372.0+ bytes

In [33]:
#indexing by using Columns:
df[['Col1','Col2','Col3']]

      Col1  Col2  Col3
Row1     0     1     2
Row2     4     5     6
Row3     8     9    10
Row4    12    13    14
Row5    16    17    18

In [23]:
df[['Col1','Col2']]

      Col1  Col2
Row1     0     1
Row2     4     5
Row3     8     9
Row4    12    13
Row5    16    17

In [34]:
type(df)

pandas.core.frame.DataFrame

In [35]:
#difference between dataframe and series is dataframe have multiple columns or rows while series have single column or row
df.loc['Row2']

Col1    4
Col2    5
Col3    6
Col4    7
Name: Row2, dtype: int64

In [37]:
#indexing by using Row index
df.loc[['Row2','Row3']]

      Col1  Col2  Col3  Col4
Row2     4     5     6     7
Row3     8     9    10    11

In [39]:
df.head()

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [40]:
df.iloc[2:4,0:2]

      Col1  Col2
Row3     8     9
Row4    12    13

In [41]:
df.iloc[2:4,1:4]

      Col2  Col3  Col4
Row3     9    10    11
Row4    13    14    15

In [43]:
df.isnull().sum()

Col1    0
Col2    0
Col3    0
Col4    0
dtype: int64

In [45]:
df=pd.DataFrame(data=[[1,np.nan,2],[1,3,4]],index=['Row1','Row2'],columns=['Col1','Col2','Col3'])
df.head()

      Col1  Col2  Col3
Row1     1   NaN     2
Row2     1   3.0     4

In [46]:
df.isnull().sum()

Col1    0
Col2    1
Col3    0
dtype: int64

In [48]:
df.isnull().sum()==0

Col1     True
Col2    False
Col3     True
dtype: bool

In [51]:
df['Col3'].value_counts()

2    1
4    1
Name: Col3, dtype: int64

In [52]:
df['Col2'].unique()

array([nan,  3.])